<div class="container-contact100 rs1-wrap-input100" style="float: left; width: 50%">
	<div class="wrap-contact100" style="height:600px; overflow-y:scroll">
		<form class="contact100-form validate-form">
			<span class="contact100-form-title">
				LOJA
			</span>

			<div class="w-full rs1-wrap-input100">


				<div class="wrap-contact100-form-range">
					<span class="label-input100">PREÇO *</span>

					<div class="contact100-form-range-value">
						$
						<span id="value-lower">610</span> - $
						<span id="value-upper">980</span>
						<input type="text" name="from-value">
						<input type="text" name="to-value">
					</div>

					<div class="contact100-form-range-bar">
						<div id="filter-bar"></div>
					</div>
				</div>
			</div>

			<div class="wrap-input100 input100-select bg1 rs1-wrap-input100" style="height: 50%; margin-top: 10%">
				<span class="label-input100">FILTRAR POR *</span>
				<div>
					<select class="js-select2" name="estado">
						<option>eCommerce Bussiness</option>
						<option>UI/UX Design</option>
						<option>Online Services</option>
					</select>
					<div class="dropDownSelect2"></div>
				</div>
			</div>

			<div class="wrap-input100 bg0" style="max-height:350px; overflow-y:scroll">
				<h1 class="contact100-form-title" style="text-align: center">JOGOS A VENDA</h1>
				<input class="input100" type="text" name="search" placeholder="Pesquisar por nome">
				<i class="fa fa-search" id="busca" alt="Buscar"></i>
				<hr>
				<ul>
					<li class="row">
						<div class="col-md-4">
							<span class="label-input100">Nome</span>
						</div>
						<div class="col-md-4">
							<span class="label-input100">Preço</span>
						</div>
						<div class="col-md-4">
							<span class="label-input100">Gênero</span>
						</div>
					</li>
					<li class="row">
						<div class="col-md-4">
							TESTE
						</div>
						<div class="col-md-4">
							TESTE
						</div>
						<div class="col-md-4">
							TESTE
						</div>
					</li>
					<li class="row">
						<div class="col-md-4">
							TESTE
						</div>
						<div class="col-md-4">
							TESTE
						</div>
						<div class="col-md-4">
							TESTE
						</div>
					</li>
				</ul>
			</div>

			<div class="container-contact100-form-btn">

				<a class="contact100-form-btn col-md-4" routerLink="/user">
					<button class="contact100-form-btn col-md-4" style="margin: 5px">
						<span>
							Voltar
						</span>
					</button>
				</a>

				<button class="contact100-form-btn col-md-4" style="margin: 5px">
					<span>
						Adicionar jogo no carrinho
						<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
					</span>
				</button>
			</div>





		</form>
	</div>
</div>

<div class="container-contact100 rs1-wrap-input100" style="float: right; width: 50%">
	<div class="wrap-contact100" style="height:600px; overflow-y:scroll">
		<form class="contact100-form validate-form">
			<span class="contact100-form-title">
				MEU CARRINHO
			</span>


			<div class="wrap-input100 bg0">
				<ul>
					<li class="row">
						<div class="col-md-4">
							<span class="label-input100">Nome</span>
						</div>
						<div class="col-md-4">
							<span class="label-input100">Preço</span>
						</div>
						<div class="col-md-4">
							<span class="label-input100">Gênero</span>
						</div>
					</li>
					<li class="row">
						<div class="col-md-4">
							TESTE
						</div>
						<div class="col-md-4">
							TESTE
						</div>
						<div class="col-md-4">
							TESTE
						</div>
					</li>
					<li class="row">
						<div class="col-md-4">
							TESTE
						</div>
						<div class="col-md-4">
							TESTE
						</div>
						<div class="col-md-4">
							TESTE
						</div>
					</li>
				</ul>
			</div>

			<div class="container-contact100-form-btn">

				<button class="contact100-form-btn col-md-4" style="margin: 5px">
					<span>
						Remover jogo do carrinho
					</span>
				</button>
				<button class="contact100-form-btn col-md-4" style="margin: 5px">
					<span>
						Finalizar compra
						<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
					</span>
				</button>
			</div>
		</form>
	</div>
</div>