<div class="container-contact100">
	<div class="wrap-contact100">
		<form class="contact100-form validate-form">
			
			<span (click)="mudar()" class="contact100-form-title">
				BEM VINDO, {{distribuidor.nome}}
				<br>
				<span style="color:blue">LISTA DE JOGOS CADASTRADOS</span>
			</span>

			<div class="wrap-input100 bg0" style="max-height:350px; overflow-y:scroll">
				<input class="input100" type="text" name="search" placeholder="Pesquisar por nome">
				<i class="fa fa-search" id="busca" alt="Buscar"></i>
				<hr>
				<ul>
						<li class="row">
							<div class="col-md-4">
								<span class="label-input100">Nome</span>
							</div>
							<div class="col-md-2">
								<span class="label-input100">Preço</span>
							</div>
							<div class="col-md-3">
								<span class="label-input100">Gêneros</span>
							</div>
							<div class="col-md-1">
								<span class="label-input100">Deletar</span>
							</div>
						</li>
						<div *ngFor="let jogo of jogos">
							<li class="row">
								<div class="col-md-4">
									{{jogo.nome}}
								</div>
								<div class="col-md-2">
									{{jogo.preco}}
								</div>
								<div class="col-md-3">
									<a *ngFor="let genero of jogo.generos">
										{{genero.nomeGenero}},
									</a>
								</div>
								<div class="col-md-1">
									<i style="margin-left: 100%;" class="fa fa-minus" (click)="deletarJogo(jogo)">
									</i>
								</div>
							</li>
							<hr>
						</div>
					</ul>
			</div>

			<div class="container-contact100-form-btn">

				<a class="contact100-form-btn col-md-4" routerLink="/home">
					<button class="contact100-form-btn col-md-4" style="margin: 5px">
						<span>
							Sair
						</span>
					</button>
				</a>

				<a class="contact100-form-btn col-md-4" routerLink="/registergame">
					<button class="contact100-form-btn col-md-4" style="margin: 5px" (click)="teste()">
						<span>
							Cadastrar Jogo
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</a>

			</div>
		</form>
	</div>
</div>