  <!-- <ul><!>
  <!<li><a routerLink="">Pagina Inicial</a></li><!!>  
  <!<li><a routerLink="registeruser">Cadastrar Usuário</a></li>
  <!<li><a routerLink="user">Usuario</a></li>
  <!<li><a routerLink="store">Loja</a></li>
  <!<li><a routerLink="distributor">Distribuidor</a></li>
  <!<li><a routerLink="registergame">Cadastrar Jogo</a></li>
  <!<li><a routerLink="conffirm">Confirmar Compra</a></li>
  <!<li><a routerLink="generos">PENTE DIVINO</a></li>
  <!<li><a (click)="getData()">Teste</a></li>
  <!</ul>-->
  <router-outlet></router-outlet>
