<div class="container-contact100 rs1-wrap-input100" style="float: left; width: 50%">
	<div class="wrap-contact100" style="height:600px; overflow-y:scroll">
		<form class="contact100-form validate-form">
			<span class="contact100-form-title">
				CADASTRAR JOGO
			</span>

			<div class="wrap-input100 validate-input bg1" data-validate="Digite o nome do jogo">
				<span class="label-input100">Nome</span>
				<input class="input100" type="text" name="nome" [(ngModel)]="jogo.nome">
			</div>

			<div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
				<span class="label-input100">Preço</span>
				<input class="input100" type="text" name="preco" [(ngModel)]="jogo.preco">
			</div>

			<div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
				<span class="label-input100">Ano de lançamento</span>
				<input class="input100" type="text" name="ano" [(ngModel)]="jogo.anoLancamento">
			</div>

			<div class="wrap-input100 bg0" style="max-height:350px; overflow-y:scroll">
				<h1 class="contact100-form-title" style="text-align: center">Gêneros</h1>
				<input [(ngModel)]="entrada" (keyup)="filtro()"class="input100" type="text" name="search" placeholder="Pesquisar por nome">
				<i class="fa fa-search" id="busca" alt="Buscar"></i>
				<hr>
				<ul>
					<li class="row">
						<div class="col-md-4">
							<span class="label-input100">Nome</span>
						</div>
						<div class="col-md-4">
							<span class="label-input100">Descrição</span>
						</div>
						<div class="col-md-4">
							<span class="label-input100">Adicionar</span>
						</div>
					</li>
					<hr>
					<div *ngFor="let genero of generos">
						<li class="row">
							<div class="col-md-4">
								<span class="label-input100">{{genero.nomeGenero}}</span>
							</div>
							<div class="col-md-4">
								<span class="label-input100">{{genero.descricaoGenero}}</span>
							</div>
							<div class="col-md-3" style="margin-left: 4%;">
								<i class="fa fa-plus" (click)="adicionarGeneroJogo(genero)">
								</i>
							</div>
						</li>
						<hr>
					</div>
				</ul>
			</div>

			<div  *ngFor="let g of jogo.generos" class="wrap-input100 input100-select bg1" 
			style="cursor:pointer;
			width: 15%;font-size: 2em; padding: 17px 20px; text-align: center;">
				<i (click)="removerGeneroJogo(g)" class="fa fa-minus">
					<span style="font-size: 16px">
						<br>{{g.nomeGenero}}</span>
				</i>
			</div>

			<div class="wrap-input100 input100-select bg1" style="cursor:pointer;width: 15%;font-size: 2em; padding: 17px 20px; text-align: center;"
			 onclick="aparecer()">
				<i class="fa fa-plus">
					<span style="font-size: 16px">
						<br>Add Gênero</span>
				</i>
			</div>




			<!-- style="max-height:350px; overflow-y:scroll" -->




			<div class="container-contact100-form-btn">

				<a class="contact100-form-btn col-md-4" routerLink="/distributor">
					<button class="contact100-form-btn col-md-4" style="margin: 5px">
						<span>
							Voltar
						</span>
					</button>
				</a>

				<button class="contact100-form-btn col-md-4" style="margin: 5px" (click)="addJogo()">
					<span>
						Cadastrar Jogo
						<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
					</span>
				</button>
			</div>





		</form>
	</div>
</div>

<div class="container-contact100 rs1-wrap-input100" style="float: right; width: 50%">
	<div class="wrap-contact100" style="height:600px; overflow-y:scroll; display: none" id="generos">
		<form class="contact100-form validate-form">
			<span class="contact100-form-title">
				CADASTRAR GÊNERO
			</span>

			<div class="wrap-input100 validate-input bg1" data-validate="Digite o nome do jogo">
				<span class="label-input100">Nome do Gênero</span>
				<input class="input100" type="text" name="nome" [(ngModel)]="genero.nomeGenero">
			</div>

			<div class="wrap-input100 validate-input bg1" data-validate="Digite o nome do jogo">
				<span class="label-input100">Descrição do Gênero</span>
				<input class="input100" type="text" name="nome" [(ngModel)]="genero.descricaoGenero">
			</div>





			<div class="container-contact100-form-btn">

				<button class="contact100-form-btn col-md-4" style="margin: 5px" onclick="sumir()">
					<span>
						Cancelar
					</span>
				</button>
				<button class="contact100-form-btn col-md-4" style="margin: 5px" (click)="addGenero()">
					<span>
						Cadastrar gênero
						<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
					</span>
				</button>
			</div>
		</form>
	</div>
</div>